
<div class="HomePage">
   
    <header a href="../Home/Index">
        <a href="../Home/Index"/>
          TVTrack
    </header>
   
    <div class="form">

        <form action="../Home/Signup">
            <button type="submit">Sign Up</button>
        </form>

        <form action="../Home/Login">
            <button type="submit">Login</button>
        </form>

    </div>
</div>

<style>
    header {
        background: #F1584E;
        color: #EF3B3A;
        text-decoration: solid; 
        font-size: x-large;
        align-content: center;
    }

    body {
        background: #F1584E;
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 240px auto 100px;
        padding: 28px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

        .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #F1584E;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }

            .form button:hover, .form button:active, .form button:focus {
                background: #EF3B3A;
            }

    img {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
</style>
